body {
    margin: 0;
    font-family: Arial, sans-serif;
   
}

header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
   
}

.logo img {
    height: 40px;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    margin-right: 25px;
   
}

.container {
    display: flex;
}

main {
    flex-grow: 1;
    padding: 20px;
}

